*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea
/gettext/gradlew.bat
gettext/gradlew
gettext/gradlew.bat
gradle-plugin/gradle/
gradle-plugin/gradlew
gradle-plugin/gradlew.bat
private_key_sender.asc
public_key_sender.asc
