<?xml version="1.0" encoding="UTF-8" ?>
<settings xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
    xmlns='http://maven.apache.org/SETTINGS/1.0.0'
    xsi:schemaLocation='http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd'>
    <profiles>
        <profile>
            <repositories>
                <repository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>bintray-nebneb-Gettext-Android</id>
                    <name>bintray</name>
                    <url>https://dl.bintray.com/nebneb/Gettext-Android</url>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>bintray-nebneb-Gettext-Android</id>
                    <name>bintray-plugins</name>
                    <url>https://dl.bintray.com/nebneb/Gettext-Android</url>
                </pluginRepository>
            </pluginRepositories>
            <id>bintray</id>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>bintray</activeProfile>
    </activeProfiles>
    <distributionManagement>
        <repository>
            <id>bintray-nebneb-Gettext-Android</id>
            <name>nebneb-Gettext-Android</name>
            <url>https://api.bintray.com/maven/nebneb/Gettext-Android/gettext-android/;publish=1</url>
        </repository>
    </distributionManagement>
</settings>